@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --text-color: white;
    --bg-url: url(../img/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../img/moon-stars.svg);
}
.light{
    --text-color: black;
    --bg-url: url(../img/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(../img/sun.svg);
}
body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
    color: var(--text-color);
}
body *{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}
.container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}
.avatar{
    text-align: center;
    padding: 24px;
}
.avatar img{
    width: 100px;
    border-radius: 50%;
}
.avatar p{
    line-height: 24px;
    font-weight:500;
    margin-top: 8px;
}
.switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}
.switch button{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    left: 0;
    background: white var(--switch-bg-url) no-repeat center;
    animation: slide-back 0.2s;
}
.switch button:hover {
    outline: 8px solid var(--highlight-color);
}
.light .switch button {
    animation: slide-in 0.2s forwards;
}
.switch span{
    display: block;
    width: 64px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    height: 24px;
    border-radius: 9999px;
    background: var(--surface-color);
    border:1px solid var(--stroke-color);
}
/*links*/
.list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}
.list ul li a{
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
.list ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}
/*footer styles*/
footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    margin-top: -8px;
}
/*responsivite- mideas queries*/
@media (min-width: 700px) {
    :root {
      --bg-url: url(../img/bg-desktop.jpg);
    }
  
    .light {
      --bg-url: url(../img/bg-desktop-light.jpg);
    }
  }
  
  /* animation */
  @keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }